.formContainer {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgba(198, 198, 198, 0.122);
    margin-top: 5%;
    border-radius: 8px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divInput {
    height: 100%;
    margin-top: 12%;
}

.input {
    border: none;
    background-color: rgb(225, 225, 225);
    padding: 10px;
}

.label {
    font-weight: 600;
}

.divBtn {
    width: 13%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button {
    color: white;
    font-weight: bold;
    padding: 20%;
    margin: 5%;
    cursor: pointer;
    flex-direction: row;
    border: none;
    border-radius: 5px;
}

.btnCadastrar {
    background-color: rgb(48, 210, 48);
}

.btnCadastrar:hover {
    background-color: rgb(20, 93, 20);
}

.btnCancelar {
    background-color: rgb(235, 29, 29);
}

.btnCancelar:hover {
    background-color: rgb(158, 20, 20);
}